######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/

######################################################################
# Frontend
ruoyi-ui/node_modules/
ruoyi-ui/dist/

######################################################################
# Redis
dump.rdb

######################################################################
# SQL 备份（体积大，含数据）
sql/*backup*.sql

######################################################################
# Node (root)
node_modules/

######################################################################
# IDE / Editor
.arts/
.jlsp/
.kiro/
com/

######################################################################
# Others
*.log
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml
